<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>812420741667-967s35h0n6vq0g4lrrn2ve4959es2ngq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.812420741667-967s35h0n6vq0g4lrrn2ve4959es2ngq</string>
	<key>API_KEY</key>
	<string>AIzaSyA2o3YKWuPowuKx7fylnCAMeG8cfRPyPoc</string>
	<key>GCM_SENDER_ID</key>
	<string>812420741667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.masktoritai</string>
	<key>PROJECT_ID</key>
	<string>masktoritai-8594d</string>
	<key>STORAGE_BUCKET</key>
	<string>masktoritai-8594d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:812420741667:ios:f29e11a67420b623fbcf96</string>
</dict>
</plist>